<div class="row">
  <div class="col-md-8">
    <h1><%= @restaurant.name %></h1>
    <div class="d-flex align-items-center mb-3">
      <div class="rating">
        <%= @restaurant.google_rating %>★
      </div>
      <div class="ms-3">
        <span class="badge bg-primary">
          <%= @restaurant.google_price_level %> <%= '💰' * @restaurant.google_price_level %>
        </span>
      </div>
      <div class="ms-3">
        <%= render 'frontend_pages/favorite_button', restaurant: @restaurant %>
        <%= render 'frontend_pages/favorite_count', restaurant: @restaurant %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h3>Menu</h3>
        <div class="list-group">
          <% @restaurant.tacos.each do |taco| %>
            <%= render partial: 'tacos/taco_item', locals: { taco: taco } %>
          <% end %>
        </div>
      </div>
      <div class="col-md-6">
        <h3>Photos</h3>
        <div class="row row-cols-1 row-cols-md-2 g-4">
          <% @restaurant.photos.each do |photo| %>
            <div class="col">
              <div class="card h-100">
                <%= image_tag photo.image_url, class: "card-img-top" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="mt-4">
      <h3>Reviews</h3>
      <div class="list-group">
        <% @restaurant.reviews.each do |review| %>
          <%= render partial: 'reviews/review_item', locals: { review: review } %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Location</h5>
        <p class="card-text">
          <%= @restaurant.street_address %><br>
          <%= @restaurant.city %>, <%= @restaurant.state %> <%= @restaurant.zip_code %>
        </p>
        <div id="restaurant-map" style="height: 300px;"></div>
      </div>
    </div>
  </div>
</div>

<script>
let restaurantMap;

function initRestaurantMap() {
  const location = { lat: <%= @restaurant.latitude %>, lng: <%= @restaurant.longitude %> };
  restaurantMap = new google.maps.Map(document.getElementById("restaurant-map"), {
    zoom: 15,
    center: location,
  });

  const marker = new google.maps.Marker({
    position: location,
    map: restaurantMap,
    title: '<%= j @restaurant.name %>'
  });
}

window.initRestaurantMap = initRestaurantMap;
</script>

<%= javascript_pack_tag 'restaurant_map' %>
