<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Profile</h5>
        <p class="card-text">
          Email: <%= @user.email %><br>
          Joined: <%= @user.created_at.strftime('%B %d, %Y') %>
        </p>
        <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>

  <div class="col-md-8">
    <div class="tab-content">
      <div class="tab-pane active" id="favorites">
        <h3>Favorite Restaurants</h3>
        <div class="row">
          <% @favorite_restaurants.each do |restaurant| %>
            <div class="col-md-4 mb-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"><%= restaurant.name %></h5>
                  <p class="card-text">
                    <%= number_with_precision(restaurant.google_rating, precision: 1) %>★<br>
                    <%= number_to_currency(restaurant.tacos.average(:price_cents) / 100, precision: 2) %> average price
                  </p>
                  <%= link_to "View Restaurant", restaurant_details_path(restaurant), class: "btn btn-primary" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="tab-pane" id="reviews">
        <h3>Recent Reviews</h3>
        <div class="list-group">
          <% @recent_reviews.each do |review| %>
            <%= render partial: 'reviews/review_item', locals: { review: review } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
