<p>
  <strong>Name:</strong>
  <%= @taco.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= @taco.description %>
</p>
<p>
  <strong>Price:</strong>
  <%= @taco.price_cents %>
</p>
<p>
  <strong>Restaurant:</strong>
  <%= @taco.restaurant_id %>
</p>

<%= link_to 'Edit', edit_taco_path(@taco) %> |
<%= link_to 'Back', tacos_path %>
