<h1>Restaurants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>State</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.city %></td>
        <td><%= restaurant.state %></td>
        <td>
          <%= link_to 'Show', restaurant %>
          <%= link_to 'Edit', edit_restaurant_path(restaurant) %>
          <%= link_to 'Destroy', restaurant, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Restaurant', new_restaurant_path %>
