<%= form_with(model: [@restaurant, review], class: "needs-validation", data: { controller: "review" }) do |form| %>
  <% if review.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>
      <ul class="mb-0">
        <% review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.hidden_field :restaurant_id, value: @restaurant.id %>
  </div>

  <div class="mb-3">
    For: <%=@restaurant.name %>
  </div>

  <div class="mb-3">
    <%= form.label :fullness_rating, "Taco Fullness Rating", class: "form-label" %>
    <div class="d-flex gap-2">
      <% (1..5).each do |i| %>
        <%= form.radio_button :fullness_rating, i, class: "form-check-input", checked: i == 3 %>
        <%= form.label :fullness_rating, i, class: "form-check-label" %>
      <% end %>
    </div>
  </div>


  <div class="mb-3">
    <%= form.label :content, "Your Review", class: "form-label" %>
    <%= form.text_area :content, class: "form-control", rows: 4, placeholder: "Write your taco review here..." %>
  </div>

  <div class="mb-3">
    <%= form.label :review_date, "Date of Visit", class: "form-label" %>
    <%= form.date_field :review_date, class: "form-control", value: Date.today %>
  </div>

  <div class="mb-3">
    <%= form.label :photos, "Add Photos", class: "form-label" %>
    <%= form.file_field :photos, multiple: true, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :language, "Language", class: "form-label" %>
    <%= form.select :language, 
      options_for_select(['English', 'Spanish', 'Other'], review.language),
      {}, 
      class: "form-control" 
    %>
  </div>

  <div class="d-flex justify-content-end">
    <%= form.submit "Submit Review", class: "btn btn-primary" %>
  </div>
<% end %>
