<%= form_with(model: [@restaurant, review], class: "needs-validation", data: { controller: "review" }) do |form| %>
  <% if review.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>
      <ul class="mb-0">
        <% review.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <body class="bg-cream justify-content-between align-items-center vh-100">
  <div class="mb-1">
    <%= form.hidden_field :restaurant_id, value: @restaurant.id %>
  </div>
  <div class="mb-1">
    <div class="container p-1">
      <div class="mb-2 p-3 bg-light border text-center">
        <h4 class="text-dark m-1">Submit your review for</h4>
        <h3 id="restaurantName"><%= @restaurant.name %></h3>
      </div>
    </div>
  </div>
  <div class="container">
    <form class="p-4 rounded form-wrapper mx-auto" style="max-width: 700px;">
      <div class="mb-3">
        <%= form.label :review_date, "When did you discover this taco?", class: "form-label" %>
        <%= form.date_field :review_date, class: "form-control", value: Date.today %>
      </div>
      <div class="mb-3">
        <%= form.label :content, "Let’s taco-bout the layers, what’s your verdict?", class: "form-label" %>
        <input type="text" class="form-control input-block" placeholder="Review Title">
      </div>
      <div class="mb-3">
        <div class="mb-3">

          <%= form.text_area :content, class: "form-control", rows: 4, placeholder: "Write your taco review here..." %>
        </div>
      </div>
      <div class="mb-3">
        <div class="mb-3">
          <%= form.label :photos, "Let the taco speak for itself, upload a pic.", class: "form-label" %>
          <%= form.file_field :photos, multiple: true, class: "form-control" %>
        </div>
      </div>
      <div class="mb-3">
        <div class="mb-3">
          <%= form.label :fullness_rating, "From Tex-Mess to Taco Heaven, rate that taco", class: "form-label" %>
          <div class="d-flex gap-2">
            <% (1..5).each do |i| %>
              <%= form.radio_button :fullness_rating, i, class: "form-check-input", checked: i == 3 %>
              <%= form.label :fullness_rating, i, class: "form-check-label" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <div class="mb-3">
          <%= form.label :language, "What language are you spilling the salsa in?", class: "form-label" %>
          <%= form.select :language,
                          options_for_select(['English', 'Spanish', 'Other'], review.language),
                          {},
                          class: "form-control"
          %>
        </div>
      </div>
      <div class="text-start">
        <div class="d-flex justify-content-end">
          <%= form.submit "Submit Review", class: "btn btn-submit" %>
        </div>
      </div>
    </form>
  </div>
</body>
<% end %>
