<p class="mb-2"><strong>Author:</strong> <%= @review.author %></p>
<p class="mb-2"><strong>Restaurant:</strong> <%= @review.restaurant_id %></p>
<p class="mb-2"><strong>Fullness Rating:</strong> <%= @review.fullness_rating %></p>

<%= link_to 'Edit', edit_restaurant_review_path(@restaurant, @review), class: 'btn btn-primary' %>
<%= link_to 'Back', restaurant_path(@restaurant), class: 'btn btn-secondary ms-2' %>
